{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}Мой магазин{% endblock %}</title>
</head>

<body>
    <div class="header">
        <a href="{% url 'shop:product_list' %}"> Мой магазин </a>

        <div class="search_bar">
            <form action="{% url 'shop:product_list' %}" method="get">
                {{ search_form.query }}
                <input name="search"  placeholder="Введите товар">
                <button type="submit">Найти</button>
            </form>
        </div>

    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        <p>© 2025 Мой магазин</p>
    </div>
</body>
</html>