{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="category_list">
        <h2>Категории</h2>
        <ul>
            {% for c in categories %}
            <li {% if not category and not query %} class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product_list">
       <h2>
        {% if query %}
            Результаты поиска по: "{{query}}"
        {% elif category %}
            "{{category.name}}"
        {% else %}
            Все товары
        {% endif %}
       </h2>

       {% if not products %}
            <p>
                {% if query %} По вашему запросу ничего не найдено.
                {% elif category %} В этой категории нет товаров.
                {% else %} Товаров пока нет.
                {% endif %}
            </p>
       {% endif %}

       <div class="product_grid">
            {% for product in products %}
                {% if product.available %}
                    <div class="item">
                        <a href="{{ product.get_absolute_url }}"></a>
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'img/no_image.png' %}" alt="Изображение отсутствует">
                            {% endif %}
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                        ${{ product.price|floatformat:2 }}
                    </div>
                {% endif %}
            {% endfor %}
       </div>

       {% if products.has_other_pages %}
            <div class="pagination">
                <span class="step_links">
                    {% if products.has_previous %}
                        <a href="?page=1{% if query %}&amp;query={{ query|urlencode }}{% endif %}{% if category %}{% endif %}">&laquo; первая</a>
                        <a href="?page={{ products.previous_page_number }}{% if query %}&amp;query={{ query|urlencode }}{% endif %}{% if category %}{% endif %}">предыдущая</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ products.number }} из {{ products.paginator.num_pages }}.
                    </span>

                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}{% if query %}&amp;query={{ query|urlencode }}{% endif %}{% if category %}{% endif %}">следующая</a>
                        <a href="?page={{ products.paginator.num_pages }}{% if query %}&amp;query={{ query|urlencode }}{% endif %}{% if category %}{% endif %}">последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}